# Terraform
*.tfstate
*.tfstate.*
.terraform/
*.tfvars
.terraform.lock.hcl

# Local values (contains secrets)
infra/terraform.tfvars

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json
